.main_container{
  display: flex;
  gap: 50px;
  margin: 12px auto;
  width: 1200px;
}
.container {
  background-color: #ffffff;
  margin: 15px auto;
  text-align: center;
  width: 600px;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.container_name {
  display: flex;
  gap: 18px;
}
.container_name_each {
  display: block;
  width: 100%;
}
.container input {
  width: 100%;
  display: block;
  height: 35px;
  margin: 12px 0px;
  padding: 12px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid rgb(190, 188, 188);
}
.container input:focus {
  border: 2px solid #005ce6;
  outline: none;
  /* box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);  */
}
.container button {
  width: 100%;
  padding: 18px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  border-radius: 8px;
  background-color: #005ce6;
}
.container a, .container Link {
  color: #F39228;
  font-size: 18px;
}
.container .password {
  position: relative;
}
.container .showPass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.danger{
  margin-bottom: 15px;
  color: #C85333;
  display: block;
  text-align: left;
}